---
http_interactions:
- request:
    method: get
    uri: https://api.pirateweather.net/forecast/J2TWnNoE4AfORIOXAHXJ9AjJSzBOgDKQ/45.52,-122.638?exclude=minutely%2Chourly%2Calerts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit-month:
      - '10000'
      ratelimit-reset:
      - '671237'
      ratelimit-limit:
      - '10000'
      ratelimit-remaining:
      - '9960'
      x-ratelimit-remaining-month:
      - '9960'
      x-amzn-remapped-content-length:
      - '0'
      x-amz-executed-version:
      - '78'
      x-amzn-requestid:
      - df3369be-3e86-457d-8a2d-89a078cc3de6
    body:
      encoding: ASCII-8BIT
      string: '{"latitude": 45.52, "longitude": -122.63, "timezone": "America/Los_Angeles",
        "offset": -7.0, "elevation": 167, "currently": {"time": 1713850320, "summary":
        "Cloudy", "icon": "cloudy", "nearestStormDistance": 0, "nearestStormBearing":
        0, "precipIntensity": 0.0, "precipProbability": 0.0, "precipIntensityError":
        0.0, "precipType": "none", "temperature": 54.23, "apparentTemperature": 52.71,
        "dewPoint": 40.28, "humidity": 0.6, "pressure": 1005.8, "windSpeed": 8.2,
        "windGust": 12.99, "windBearing": 337, "cloudCover": 1.0, "uvIndex": 0, "visibility":
        10.0, "ozone": 365.18}, "daily": {"summary": "Rain", "icon": "rain", "data":
        [{"time": 1713769200, "icon": "cloudy", "summary": "Cloudy", "sunriseTime":
        1713791524, "sunsetTime": 1713841589, "moonPhase": 0.46, "precipIntensity":
        0.0, "precipIntensityMax": 0.0, "precipIntensityMaxTime": 1713848400, "precipProbability":
        0.0, "precipAccumulation": 0.0, "precipType": "none", "temperatureHigh": 74.93,
        "temperatureHighTime": 1713913200, "temperatureLow": 47.26, "temperatureLowTime":
        1713870000, "apparentTemperatureHigh": 53.16, "apparentTemperatureHighTime":
        1713916800, "apparentTemperatureLow": 53.16, "apparentTemperatureLowTime":
        1713870000, "dewPoint": 39.61, "humidity": 0.54, "pressure": 1005.2, "windSpeed":
        9.65, "windGust": 14.94, "windGustTime": 1713848400, "windBearing": 338, "cloudCover":
        1.0, "uvIndex": 0.03, "uvIndexTime": 1713848400, "visibility": 10.0, "temperatureMin":
        54.91, "temperatureMinTime": 1713848400, "temperatureMax": 54.91, "temperatureMaxTime":
        1713848400, "apparentTemperatureMin": 53.16, "apparentTemperatureMinTime":
        1713848400, "apparentTemperatureMax": 53.16, "apparentTemperatureMaxTime":
        1713848400}, {"time": 1713855600, "icon": "partly-cloudy-day", "summary":
        "Partly Cloudy", "sunriseTime": 1713877825, "sunsetTime": 1713928067, "moonPhase":
        0.49, "precipIntensity": 0.0, "precipIntensityMax": 0.0, "precipIntensityMaxTime":
        1713855600, "precipProbability": 0.0, "precipAccumulation": 0.0, "precipType":
        "none", "temperatureHigh": 74.93, "temperatureHighTime": 1713913200, "temperatureLow":
        48.04, "temperatureLowTime": 1713956400, "app[...]
